.backlog{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.backlog-issue__button{
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    width: 100%;
    height: 100%;
    background: #4bbf6b;
    margin: 3px;
    transition: 0.5s;
}

.backlog__backlog-issue{
    width: 80%;

}

.backlog-issue__button:hover {
    background: #489048;
}
