.column{
    display: flex;
    flex-direction: column;
    flex:1;
    padding:5px;
    background-color: #dfe3e6;
}

.column-header{
    width: 100%;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

.column-issues{
    width: 100%;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
