.backlog-issue{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    background: #66ff29;
}

.backlog-issue__content{
    margin-left: 10px;
    margin-right: 10px;
}
