.login-page{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    width:30%;
    min-width: 283.91px;
}
.login-page__input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    min-width: 285px;
    }
.login-page__input-text{
    height: 35px;
}
.login-page__button{
    width: 40%;
    height: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background: #66ff29;
}
