.issue-view {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.issue-view__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 400px;
    padding: 50px;
    border: 4px solid #46af1e;
    border-radius: 10px;
    background-color: white;
}

.issue-view__buttons {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
    width: 40%;
}

.issue-view__body-issue {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.issue-view__body-issue *:last-child {
    width: 206px;
    margin-left: 20px;
}

.issue-view__body-issue > input:last-child {
    width: 202px;
    margin-left: 20px;
}

.issue-view__body-issue > textarea:last-child {
    width: 200px;
    margin-left: 20px;
}

.issue-view__buttons > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.issue-view__buttons > div > button {
    min-width: 100px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #307812 solid 2px;
    background-color: #3e881b;
    transition: background-color 1s;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
    margin: 5px;
    cursor: pointer;
}

.issue-view__buttons > div > button:hover {
    background-color: #43b31d
}
