.issue{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    background: #4bbf6b;
    border:none;
    color:white;
    font-weight: bold;
}

.issue__content{
    margin-left: 10px;
    margin-right: 10px;
    min-width: 200px;
}

.issue_wrapper{
    width:100%;
}
